<h1> Songs by <%= @artist.name %></h1>


<ul>
  <% @artist.songs.each do |song| %>
    <li>
      <%= song.title %>
    </li>
    <% end %>
</ul>

<%= link_to "Back to #{@artist.name}", artist_path(@artist) %>
